/* UserGreeting.css */

div {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  
  h1 {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  button {
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .user-logged-out {
    background-color: pink;
  }
  
  .user-logged-in {
    background-color: rgb(102, 177, 228); /* Or any other color you prefer when logged in */
  }
  